<html>
<head>
    {{>header}}
</head>
<body class="container">
    <h1>Guestbook access</h1>
    <p>You must be signed in in order to post comments. Click here to register or sign in.</p>
     <div class="text-right" style="margin-bottom: 1em;">
        <a id="login" href="/login" class="btn btn-primary">
            Sign in
        </a>
        <a id="login" href="/register" class="btn btn-primary">
            Register
        </a>   
      </div>   
</body>
</html>